---
import Layout from "../../layouts/Layout.astro";
import Memberfavsection from "../../components/Memberfavsection.astro";

export async function getStaticPaths() {
  // const response = await fetch('...');
  // const data = await response.json();

  const url = "https://lzmtfinlowhwlrztjvpr.supabase.co/rest/v1/closets";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6bXRmaW5sb3dod2xyenRqdnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4MjMwMTksImV4cCI6MjA2MzM5OTAxOX0.7etoSeq9SdawJ3_h6GNE8OcltmXRj_92v4DWywE8myw";

  const options = { headers: { apikey: key } };

  const data: any[] = await fetch(url, options).then((res) => res.json());

  return data.map((info) => {
    return {
      params: { slug: info.slug },
      props: { info },
    };
  });
}

//const { slug } = Astro.params;
const { info } = Astro.props;
---

<Layout>
  <section class="flex">
    <section class="info">
      <div class="image">
        <img src={info.image} alt="" />
      </div>
      <div class="content">
        <div class="title">
          <h1>{info.title}</h1>
        </div>
        <div class="subtitle">
          <p class="body1_semibold">{info.subtitle}</p>
        </div>
        <div class="text">
          <!-- <p class="body2_regular">{info.text}</p> -->
          <p class="body2_regular whitespace-pre-line">{info.text}</p>
        </div>
        <div class="date location">
          <p class="body1_semibold">{info.date && "• "} {info.date}</p>
          <p class="body2_regular">{info.location}</p>
        </div>
        <div class="cta"></div>
      </div>
    </section>
    <section>
      <Memberfavsection />
    </section>
  </section>
</Layout>

<style>
  .flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  section {
    margin: 33px;
  }

  .title {
    margin-bottom: 50px;
  }

  .date p {
    list-style: circle;
  }

  .text p {
  }

  .whitespace-pre-line {
    white-space: pre-line;
    line-height: 1.5rem;
    margin: 0;
  }

  img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--AC-Primary-Green-100, #6cb946);
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: -1px 4px 11.8px 0px rgba(0, 0, 0, 0.46);
  }

  div {
    margin-bottom: 33px;
  }

  @media (min-width: 800px) {
    .info {
      /* width: 1110px; */
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      gap: 17px;
    }

    .content {
      place-self: start;
    }
  }
</style>
