---
const { cardtitle } = Astro.props;
const { cardsubtitle } = Astro.props;
const { cardtext } = Astro.props;
const { cardcta } = Astro.props;
const { cardlink } = Astro.props;
---

<article>
  {cardtitle && <p class="cardtitle">{cardtitle}</p>}
  {cardsubtitle && <p class="cardsubtitle">{cardsubtitle}</p>}
  {cardtext && <p>{cardtext}</p>}
  {cardcta && <a href={cardlink} class="cta-medium">{cardcta}</a>}
</article>
<style>
  article {
    background-color: var(--a-c-pagecol);
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    border-radius: 20px;
    border: 1px solid var(--a-c-primary-neutral-green-100);
    background: var(--a-c-pagecol;);
    box-shadow: -1px 4px 11.800000190734863px rgba(0, 0, 0, 0.46);
  }
  p.cardsubtitle {
    font-weight: 500;
  }
  p.cardtitle {
    color: var(--a-c-primary-neutral-green-100);
    font-weight: 500;
    font-size: 1.8rem;
  }
</style>
